# Que 1

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
first get the webpage https://www.naukri.com/
Enter ‚ÄúData Analyst‚Äù in ‚ÄúSkill,Designations,Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

ANSWER:

In [134]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\himanshu\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\himanshu\anaconda3\lib\site-packages (from selenium) (1.26.11)

In [137]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [138]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [139]:
driver.get("https://www.naukri.com/")

In [140]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [141]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div[1]/div[1]/div/input')
location.send_keys('Bangalore')

In [142]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]



title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.textjob_title=[]
    job_title.append(title)


company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
experience=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)

In [143]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [147]:
df=pd.DataFrame({'Job_title':job_title[0:10],'Job_location':job_location[0:10],'Company_name':company_name[0:10],'Exp_required':experience_required[0:10]})
df

,Job_title,Job_location,Company_name,Exp_required
0,[],Bangalore/Bengaluru,Blooprint Ecom Consulting Service,0-1 Yrs
1,[],Remote,Esyconnect,0-3 Yrs
2,[],"Gurgaon/ Gurugram, Haryana, Bangalore/ Bengalu...",Delhivery,1-3 Yrs
3,[],"Hyderabad/ Secunderabad, Telangana, Chennai, T...",HCLTech,5-10 Yrs
4,[],Bangalore/Bengaluru,Eastvantage,4-6 Yrs
5,[],Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
6,[],Mumbai (All Areas),Cointab Software,0-1 Yrs
7,[],Remote,Peroptyx,0-5 Yrs
8,[],"Visakhapatnam/ Vizag, Andhra Pradesh",Sails Software Solutions,0-5 Yrs
9,[],"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synechron,5-8 Yrs

In [17]:
driver.close()

# Que. 2

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps: first get the webpage https://www.naukri.com/ Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill,Designations,Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field. Then click the search button. Then scrape the data for the first 10 jobs results you get. Finally create a dataframe of the scraped data.# 2)Naukri Data-Data Scientist
 ANSWER:

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\himanshu\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\himanshu\anaconda3\lib\site-packages (from selenium) (1.26.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [341]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div[1]/div[1]/div/input')
location.send_keys('Bangalore')

In [12]:
job_title=[]
job_location=[]
company_name=[]


title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [14]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Data Analyst,Remote,Esyconnect
1,Data Analyst,"Gurgaon/ Gurugram, Haryana, Bangalore/ Bengalu...",Delhivery
2,Data Analyst,Bangalore/Bengaluru,Eastvantage
3,Data Analyst,Bangalore/Bengaluru,Persolkelly India
4,Urgent Requirement || Data Analyst || Cars24 |...,"Gurgaon/Gurugram, Delhi / NCR",Cars24
5,Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synechron
6,Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synchron Infotech
7,Data Analyst,Bangalore/Bengaluru,Everest Vacuum
8,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services
9,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services

In [347]:
driver.close()

# Que. 3

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter. You have to scrape data for ‚ÄúData Scientist‚Äù designation 
    for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. 
    The location filter to be used is ‚ÄúDelhi/NCR‚Äù The salary filter to be used is ‚Äú3-6‚Äù lakhs.
    The task will be done as shown in the below steps:
first get the webpage https://www.naukri.com/
Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill,Designations,Companies‚Äù field .
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.
ANSWER:

In [148]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\himanshu\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\himanshu\anaconda3\lib\site-packages (from selenium) (1.26.11)

In [78]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [79]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [80]:
driver.get("https://www.naukri.com/")

In [82]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data scientist')

In [83]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Delhi/NCR')

In [84]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [85]:
start=0
end=4
for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in title[0:20]:
        job_title.append(i.text)
        
    location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
    for i in location[0:10]:
        job_location.append(i.text) 
        
    company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company[0:10]:
        company_name.append(i.text)
        
    experience=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
    for i in experience[0:10]:
        experience_required.append(i.text)

In [86]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

76 40 40 40

In [87]:
df=pd.DataFrame({'Job_title':job_title[0:10],'Job_location':job_location[0:10],'Company_name':company_name[0:10],'Experience':experience[0:10]})
df

,Job_title,Job_location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,<selenium.webdriver.remote.webelement.WebEleme...
1,Data Scientist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,<selenium.webdriver.remote.webelement.WebEleme...
2,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,<selenium.webdriver.remote.webelement.WebEleme...
3,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Sophos,<selenium.webdriver.remote.webelement.WebEleme...
4,Applied Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Sophos,<selenium.webdriver.remote.webelement.WebEleme...
5,SENIOR DATA SCIENTIST,Bangalore/Bengaluru,Flipkart,<selenium.webdriver.remote.webelement.WebEleme...
6,ACN - Applied Intelligence - Finance - Data Sc...,Bangalore/Bengaluru,Walmart,<selenium.webdriver.remote.webelement.WebEleme...
7,Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Accenture,<selenium.webdriver.remote.webelement.WebEleme...
8,Data Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,<selenium.webdriver.remote.webelement.WebEleme...
9,Data Scientist - Senior Manager,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech,<selenium.webdriver.remote.webelement.WebEleme...

driver.close()

# Que 4

4)Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price
To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands and more‚Äù is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom of the page , then click on it

In [150]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [34]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [35]:
driver.get("https://www.flipkart.com/")

In [37]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [59]:

for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:72]:
        brands.append(i.text)
        
    Product_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product_desc[0:72]:
        Product_desc.append(i.text)
        
    prices=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
    for i in prices[0:72]:
        prices.append(i.text)

In [60]:
print(len(brands),len(Product_desc),len(prices))

80 72 80

In [62]:
df=pd.DataFrame({'Brand':brands[0:72],'Prod_desc':Product_desc[0:72],'Price':prices[0:72]})
df

,Brand,Prod_desc,Price
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
67,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),"‚Çπ224‚Çπ1,19981% off"
68,Shiv,"by Lenskart Polarized, UV Protection Wayfarer ...",‚Çπ275‚Çπ99972% off\nFree delivery
69,Fastrack,"UV Protection, Night Vision, Riding Glasses Ov...",‚Çπ749‚Çπ99925% off\nFree delivery by Today
70,VINCENT CHASE,"Polarized, UV Protection Retro Square Sunglass...","‚Çπ648‚Çπ2,50074% off\nFree delivery"
71,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),"‚Çπ598‚Çπ1,99970% off\nFree delivery"

In [ ]:
Note: In this  website  there is  brands are 80 prod_ desc is 72 and prices no. 80 it is uneqwal, 
      so during  makinng of dataframe there error  occur  so isteed of 100  I make 72  numbers of Dataframe.

In [365]:
driver.close()

# Question no. 5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART.
you have to scrape the below mention attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
- You have to scrape this data for first 100 reviews

ANSWER:

In [366]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [367]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [368]:
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [369]:
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)

    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [370]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [371]:
df=pd.DataFrame({'Rating':stars,'Review_summary':short_review,'Full_summary':complete_review})
df

,Rating,Review_summary,Full_summary
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Wonderful,This is amazing at all
3,5,Brilliant,Excellent Phone.
4,5,Must buy!,It‚Äôs really awesome
...,...,...,...
95,5,Wonderful,Quality camera
96,5,Must buy!,Best Apple iPhone that i have bought at a very...
97,5,Super!,Exactly mach what you expect and where Spent y...
98,5,Highly recommended,Excellent product but packing was not upto mark..
99,5,Mind-blowing purchase,Excellent camera üì∏ And Display touching very N...

In [372]:
driver.close()

# Que 6

Q6:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for ‚Äúsneakers‚Äù in the search field.You have to scrape 3 attributes of each sneaker :
Brand
Product Description
Price
Also note that all the steps required during scraping should be done through code only and not manually.
Answer:

In [41]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [4]:
driver.get("https://www.flipkart.com/")

In [7]:
sneakar=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakar.send_keys('sneaker')

search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.click()

In [24]:
brands=[]
price=[]
description=[]

In [36]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in prices:
        price.append(i.text)
        
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        description.append(i.text)

In [37]:
print(len(brand),len(price),len(description))

360 240 222

In [39]:
df=pd.DataFrame({'Brand':brand[0:10],'Price':price[0:10],'description':desc[0:10]})
df

      Brand     Price                                        description
0    Airson    Airson  <selenium.webdriver.remote.webelement.WebEleme...
1  Elevarse  Elevarse  <selenium.webdriver.remote.webelement.WebEleme...
2  Magnolia  Magnolia  <selenium.webdriver.remote.webelement.WebEleme...
3    ADIDAS    ADIDAS  <selenium.webdriver.remote.webelement.WebEleme...
4      PUMA      PUMA  <selenium.webdriver.remote.webelement.WebEleme...
5      aadi      aadi  <selenium.webdriver.remote.webelement.WebEleme...
6    Kzaara    Kzaara  <selenium.webdriver.remote.webelement.WebEleme...
7     Krors     Krors  <selenium.webdriver.remote.webelement.WebEleme...
8      PUMA      PUMA  <selenium.webdriver.remote.webelement.WebEleme...
9    Airson    Airson  <selenium.webdriver.remote.webelement.WebEleme...

In [40]:
driver.close()

# Que 7

# Q7:  Go to webpage https://www.amazon.in/Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon.Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [380]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [381]:
driver.get("https://www.amazon.in/")

In [382]:
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [383]:
Title=[]
price=[]
Ratings=[]
Rating=[]

In [384]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)

In [385]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [386]:
print(len(Title),len(price),len(rating))

10 10 10

In [387]:
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':rating})
df

                                               Title     Price Ratings
0  Acer Nitro 16 Gaming Laptop AMD Ryzen‚Ñ¢ 7 7840H...  1,43,558     5.0
1  Acer Aspire 5 13th Gen Intel Core i5 (16 GB RA...    79,134     4.1
2  Acer Aspire Lite 11th Gen Intel Core i3-1115G4...    32,990     4.2
3  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    64,990     4.1
4  Dell Vostro 3420 Laptop,Intel i3-1115G4/8GB/51...    36,990     4.1
5  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...    74,990     4.1
6  Xiaomi Notebook Pro Max 11th Gen Intel Core i5...    39,990     4.1
7  ASUS [Smart Choice] Vivobook 15, Intel Celeron...    60,990     4.0
8  Lenovo IdeaPad Slim AMD 3 Ryzen 5 5500U 15.6" ...               4.1
9  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...               4.3

In [388]:
driver.close()

# QUE NO . 8

Q8- Scrap Top 1000 Quotes Of All Time This task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quote

ANSWER:

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [390]:
driver=webdriver.Chrome(r"C:\Users\Himanshu\Desktop\Fliprobo notes\chromedriver.exe")

In [391]:
driver.get('https://www.azquotes.com/')

In [392]:
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search_button.click()

In [393]:
Quote=[]
Author=[]
type_of_quote=[]

Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='wrap-block']")]

for i in Details:
    Quote.append(i[0])
    Author.append(i[1])
    type_of_quote.append(i[2])

In [394]:
data=pd.DataFrame({'Quotes':Quote,'Author':Author,'Type of quote':type_of_quote })
data

,Quotes,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [395]:
driver.close()